@charset "utf-8";
#header {
  text-align: center;
  border-bottom: 1px #cccccc solid;
}
#header h1 {
  margin: 20px 0px 20px 0px;
  letter-spacing: 0.2em;
}
#leftmenu {
  float: left;
  width: 100px;
  padding: 10px;
  min-height: 480px;
}
#leftmenu ul {
  margin: 0px;
  padding: 0px;
}
#leftmenu ul li {
  font-size: larger;
  list-style-type: none;
  margin: 0px 10px 10px 0px;
}
#leftmenu ul li a {
  display: block;
}
#leftmenu ul li.indented {
  margin-top: 20px;
}
#leftmenu ul li a:link,
#leftmenu ul li a:visited,
#leftmenu ul li a:active,
#leftmenu ul li a:hover {
  text-decoration: none;
}
#leftmenu ul li a:link,
#leftmenu ul li a:visited {
  color: #0000FF;
  background-color: #FFFFFF;
}
#leftmenu ul li a:active,
#leftmenu ul li a:hover {
  color: #FFFFFF;
  background-color: #000000;
}
#leftmenu ul li a.current:link,
#leftmenu ul li a.current:visited,
#leftmenu ul li a.current:active,
#leftmenu ul li a.current:hover {
  color: #000000;
  background-color: #FFFFFF;
}
#main {
  margin-left: 300px;
  border-left: 1px #cccccc solid;
  padding: 10px;
  min-height: 480px;
}
#main h2:first-child {
  margin: 0px 0px 10px 0px;
}
#footer {
  text-align: right;
  border-top: 1px #cccccc solid;
  padding-right: 10px;
}
#footer p {
  font-size: smaller;
  font-style: italic;
}
.form {
  width: 400px;
  margin: 20px 0px 20px 0px;
  border-collapse: collapse;
}
.bottom-indent {
  margin-bottom: 50px;
}
.guestbook {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}
.guestbook .user {
  font-weight: bold;
}
.guestbook .posted {
  font-style: italic;
  text-align: right;
  width: 200px;
}
.guestbook .content {
  padding-top: 20px;
}
.honeypot {
  display: none;
}
#messages-list {
  background-color: #EEEEEE;
  padding: 5px;
}
#messages-list .ERROR {
  color: #FF0000;
}
#pagination {
  margin-top: 20px;
}
#pagination #previous-page {
  float: left;
}
#pagination #num-pages {
  text-align: center;
}
#pagination #next-page {
  float: right;
}
.posted {
  font-style: italic;
  text-align: right;
}
.buttons {
  text-align: right;
}
#imagepool_output {
  display: none;
}
#imagepool_image_list {
  margin-top: 60px;
}
#imagepool_image_list td {
  text-align: center;
  width: 160px;
  height: 120px;
}
#imagepool_image_list td.link {
  font-size: xx-large;
  width: 20px;
}
#imagepool_image_list td img {
  max-width: 160px;
  max-height: 100px;
}
#imagepool_image_list td a:link, #imagepool_image_list td a:visited,
#imagepool_image_list td a:active, #imagepool_image_list td a:hover{
  text-decoration: none;
}
#imagepool_image_list td a.disabled:link,
#imagepool_image_list td a.disabled:visited,
#imagepool_image_list td a.disabled:active,
#imagepool_image_list td a.disabled:hover{
  display: none;
}
.list-table {
  width: 100%;
  border-collapse: collapse;
}
.list-table td, .list-table th {
  border: 1px #666666 solid;
  padding: 5px;
}
.list-table td.centered {
  text-align: center;
}
.old-price {
  color: #999999;
  text-decoration: line-through;
}
.good-images {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}
.good-images div {
  max-width: 300px;
  height: 200px;
  float: left;
}
.good-images div img {
  max-width: 300px;
  height: 200px;
}
.comment {
  border: 1px solid #cccccc;
  margin: 5px 0px 5px 0px;
}
.comment div {
  padding: 4px;
}
.comment .user {
  background-color: #eeeeee;
  font-weight: bold;
}
.comment .date {
  background-color: #eeeeee;
  font-style: italic;
  text-align: right;
}
.comment-removed {
  font-weight: bold;
  font-style: italic;
}
.blog-article {
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #cccccc;
}
.blog-article h4 {
  margin-top: 0px;
}
.username {
  font-size: smaller;
  font-weight: bold;
}
.tags {
  text-align: right;
}
.search-form {
  float: right;
}
.feeds {
  text-align: right;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
