{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <link type="text/css" href="{% static "base.css" %}" rel="stylesheet">
    {% block additional_css %}
    {% endblock %}
    {% block additional_js %}
    {% endblock %}
    <title>{% block title %}{% endblock %} :: Веник-Торг</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
