{% extends "base.html" %}
{% load comments %}
{% block title %}
    {{ good.name }} :: {{ good.category.name }}
{% endblock %}
{%  block main %}
    <h2>{{ good.name }}</h2>
    <p class="category">Категория: {{ good.category.name }}</p>
    <p>{{ good.description|linebreaksbr }}</p>
    <p>{% if not good.in_stock %} Нет в наличии! {% endif %}</p>
    <p class="not-in-stock">
        {% url "index" cat_id=good.category.id as category_url%}
        <a href="{{ category_url }}?page={{ pn }}">Назад</a>
    </p>
    <p>&nbsp;</p>
    {% get_comment_count for good as good_comments_count %}
    <p>Всего комментариев: {{ good_comments_count }}.</p>
    {% render_comment_list for good %}
    <p>&nbsp;</p>
    {% render_comment_form for good %}
{% endblock %}
