{% extends "base.html" %}
{% load comments %}
{% load thumbnail %}
{% block title %}
    {{ good.name }} :: {{ good.category.name }}
{% endblock %}
{%  block main %}
    {% thumbnail good.thumbnail "200x100" as im %}
        <img src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{  good.thumbnai.url }}</p>
    <h2>{{ good.name }}</h2>
    <p class="category">Категория: {{ good.category.name }}</p>
    <p>{{ good.description|linebreaksbr }}</p>
    <p>{% if not good.in_stock %} Нет в наличии! {% endif %}</p>
    <p class="not-in-stock">
        {% url "index" cat_id=good.category.id as category_url%}
        <a href="{{ category_url }}?page={{ pn }}">Назад</a>
    </p>

    {% with names=good.tags.names %}
        {% if names.count > 0 %}
            <p>Теги: {% for name in names %}{% if not forloop.first %},
            {% endif %}<a href="{% url "index" cat_id=good.category.id %}
            ?tag={{ name|urlencode }}">{{ name }}</a>{% endfor %}</p>
        {% endif %}
    {% endwith %}

    <p>&nbsp;</p>
    {% get_comment_count for good as good_comments_count %}
    <p>Всего комментариев: {{ good_comments_count }}.</p>
    {% render_comment_list for good %}
    {% render_comment_form for good %}
{% endblock %}
