{% extends "base.html" %}
{%  block title %}
    {{ category.name}}
{% endblock %}
{% block main %}
    <h2>{{ category.name }}</h2>
    <table>
        <tr>
            <th>Название</th>
            <th>Есть в наличии</th>
        </tr>
        {% for good in goods %}
            <tr>
                <td><a href="{% url "good" good_id=good.id %}">{{ good.name }}</a></td>
                <td class="centered">{% if good.in_stock %} + {% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    {% if goods.paginator.num_pages > 1 %}
        <div id="pagination">
            {% if goods.has_previous %}
                <div id="previous-page">
                    <a href="{% url "index" cat_id=category.pk %}?page={{ goods.previous_page_number }}">
                        &lt;
                    </a>
                </div>
            {% endif %}

            {% if goods.has_next %}
                <div id="next-page">
                    <a href="{% url "index" cat_id=category.pk %}?page={{ goods.next_page_number }}">
                        &gt;
                    </a>
                </div>
            {% endif %}

            <div id="num-pages">
                {%  for pn in goods.paginator.page_range %}
                    {% if not forloop.first %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    {% endif %}
                    {% if goods.number != pn %}
                        <a href="{% url "index" cat_id=category.pk %}?page={{ pn }}">
                    {% endif %}
                    {{ pn }}
                    {% if goods.number != pn %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
