{% extends "base.html" %}
{% load staticfiles %}
{% block additional_css %}
  <link type="text/css" href="{% static "main.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}

      <script type="text/javascript">
        $(document).ready(function(){
            $(".content-markdown").each(function(){
                var content = $(this).text()
                console.log(content)
                var markedContent = marked(content)
                console.log(markedContent)
                $(this).html(markedContent)
            })
        })
    </script>

  <div id="header">
    <h1>Веник-Торг</h1>
  </div>

   <div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                {% url "main" as page_url %}
                <li>
                  <a href="{{ page_url }}">
                  <i class="fa fa-home fa-lg"></i> Главная
                  </a>
                </li>


                <!-- Categories -->
                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-th-list fa-lg"></i> Категории <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    {% for object in categories %}
                        {% url "goods_index" pk=object.pk as page_url %}
                        <li {% if page_url == current_url %}class="active"{% endif %}><a href="{{ page_url }}">{{ object.name }}</a></li>
                    {% endfor %}
                </ul>

                {% url "news_index" as page_url %}
                 <li><a href="{{ page_url }}"><i class="fa fa-newspaper-o fa-lg"></i> Новости</a></li>

                {% url "blog_index" as page_url %}
                 <li><a href="{{ page_url }}"><i class="fa fa-instagram fa-lg"></i> Блог</a></li>

                {% url "guestbook" as page_url %}
                 <li><a href="{{ page_url }}"><i class="fa fa-users fa-lg"></i> Гостевая</a></li>

                {% url "contacts" as page_url %}
                <li><a href="{{ page_url }}"><i class="fa fa-book fa-lg"></i> Контакты</a></li>

                {% url "howtobuy" as page_url %}
                <li><a href="{{ page_url }}"><i class="fa fa-usd fa-lg"></i> Оплата</a></li>

                {% url "about" as page_url %}
                <li><a href="{{ page_url }}"><i class="fa fa-info-circle fa-lg"></i> О нас</a></li>

                    {% if not user.is_authenticated %}
                    <li><a href="{% url "login" %}"><i class="glyphicon glyphicon-log-in fa-lg"></i> Войти</a></li>
                    {% endif %}

                {% if user.is_authenticated %}
                    {% url "categories_edit" as page_url %}
                    <li><a href="{{ page_url }}"><i class="fa fa fa-list fa-lg"></i> Категории</a></li>
                    <li><a href="/admin/"><i class="fa fa-dashboard fa-lg"></i> Админка</a></li>
                    <li><a href="{% url "logout" %}"><i class="glyphicon glyphicon-log-out"></i> Выйти</a></li>
                  {% endif %}

            </ul>
     </div>
</div>


  <div id="main">
    {% block main %}
    {% endblock %}
  </div>
  <div id="footer">
    <p>Все права принадлежат разработчикам сайта.</p>
  </div>
{% endblock %}
