{% extends "main.html" %}
{% load thumbnail %}
{% block title %}Главная страница{% endblock %}
{% block main %}
  <h2>Все для уборки</h2>
  <p>Фирма &quot;Веник-Торг&quot; продает все необходимое для уборки помещений
  различного назначения: веники, щетки, метлы, совки и пр.</p>
  <h3>Новости</h3>
    {% for object in news %}
        <h4><a href="{% url "news_detail" pk=object.pk %}">{{ object.title }}</a></h4>
        <p>{{ object.description}}</p>
        <p class="posted">{{ object.posted|date:"j.m.Y H:i:s" }}</p>
    {% endfor %}
  <h3>Рекомендуемые товары</h3>
  <table class="list-table">
    {% for object in goods %}
      <tr>
        <td class="centered"><a href="{% url "goods_detail" pk=object.pk %}"><img src="{% thumbnail object.image "100x100" %}"><a></td>
        <td><a href="{% url "goods_detail" pk=object.pk %}">{{ object.name }}</a></td>
        <td>{{ object.description }}</td>
        <td class="centered">{% if object.price_acc > 0 %}
            <span class="old-price">{{ object.price }}</span>
            <br>{{ object.price_acc }}{% else %}{{ object.price }}{% endif %} руб.
        </td>
        <td class="centered">{% if object.in_stock %}В наличии{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
